.ab1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.05); */
    border-radius: 3rem;
    animation: joudi3 2s infinite;
    margin-bottom: 4rem;
    transition: all 0.3s ease;


}


.ab1:hover {
    /* background: rgba(255, 255, 255, 0.1); */
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(108, 99, 255, 0.4);

}

.image {
    width: 50%;
    height: 40%;

}



.image img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.image:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(108, 99, 255, 0.4);
    border-radius: 3rem;
}

@keyframes joudi3 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

#ab1-h2 {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(135deg, #716af5, #FF6584);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#ab1-p {
    text-align: center;

}

#ab1-ic {
    color: #d67689;
}